<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {{title}} </title>

    <!-- Theme CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link href="{{asset}}/style.css" rel="stylesheet">

</head>

<body>

{% if online == true %}
    <div class="container">
        <div class="row btn-custom">
            <div class="col-xs-offset-1 col-xs-8 bar">
                <form method="post" action="{{root}}friend/search">
                    <input type="text" class="form-control search" name="pseudo" value="">
            </div>
            <div class="col-xs-2 bar">
                    <button type="submit" class="btn btn-small glyphicon glyphicon-search"></button>
                 </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-2">
                <form method="post" action="{{root}}home">
                    <button type="submit" class="btn btn-small glyphicon glyphicon-home"> </button>
                </form>
            </div>
            <div class="col-xs-2 btn-list">
                <form method="post" action="{{root}}friend">
                    {% if notifications %}
                        <input type="text" name="notificationId" value="{{notificationId}}" hidden="hidden">
                        <input type="text" name="friendId" value="{{friendId}}" hidden="hidden">
                    {% endif %}
                        <button type="submit" class="btn btn-small glyphicon glyphicon-list"> </button>
                </form>
                    {% if notifications %}
                    
                    <div class="count"> {{ notifications }} </div>
                {% endif %}
            </div>
            <div class="col-xs-2">
                <form method="post" action="{{root}}profile">
                    <button type="submit" class="btn btn-small glyphicon glyphicon-user"> </button>
                </form>
            </div>
            <div class="col-xs-2 btn-disconnect">
                <form method="post" action="{{root}}home/disconnect">
                    <button type="submit" class="btn btn-small glyphicon glyphicon-off"> </button>
                </form>
            </div>
        </div>
    </div>

{% endif %}

    {% block content %} {% endblock %}

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#pseudo").keyup(function() {
            var pseudo = $("#pseudo").val();

            $.ajax({
                cache: false,
                type: "POST",
                url: "http://localhost/projects/socialNetwork/ajax/validate",
                data: 'pseudo='+pseudo,
                success: function(msg)
                {
                    msg = JSON.parse(msg);
                    console.log(msg.validate);

                    if(msg.validate === false)
                    {
                        $("#pseudo").removeClass(" alert-success");
                        $("#pseudo").addClass(" alert-danger");
                    }
                    else
                    {
                        $("#pseudo").removeClass(" alert-danger");
                        $("#pseudo").addClass(" alert-success"); 
                    }
                }
            }); 
        });
    });
    </script>
</body>
</html>
